* {
    box-sizing: border-box;
}

body {
    background-color: #F6F6EC;
    margin: 0;
    padding: 0;
}
#wrapper {
    max-width: 80%;
    margin: 20px auto;
}

#wrapper:hover .plus {
    opacity: 1;
}
#wrapper:hover .accordion__text {
    color: black;
    
}

.accordion__body {
    display: none;
    margin: 30px auto 10px;
}
.accordion__input:checked ~ .accordion__body {
    display: block;
    
}
.accordion__item:hover > .accordion__body {
    display: block; 
    
}
.accordion__input:checked ~ .plus {
    transform: rotate(45deg);
}
.accordion__input:hover ~ .plus {
    transform: rotate(45deg);
}
.accordion__input:checked + .accordion__text{
    color: black;
    
}